@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-h1: var(--h1);
  --color-h2: var(--h2);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-palette-dark: #214E34;
  --color-palette-medium-dark: #5C7457;
  --color-palette-medium: #979B8D;
  --color-palette-light: #C1BCAC;
  --color-palette-lightest: #EFD0CA;
}

:root {
  --radius: 0.625rem;
  --background: #214E34;
  --foreground: #5C7457;
  --h1: #000000;
  --h2: #3b3b3b;
  --card: #ffffff;
  --card-foreground: #214E34;
  --popover: #EFD0CA;
  --popover-foreground: #214E34;
  --primary: #EFD0CA;
  --primary-foreground: #214E34;
  --secondary: #C1BCAC;
  --secondary-foreground: #214E34;
  --muted: #979B8D;
  --muted-foreground: #214E34;
  --accent: #C1BCAC;
  --accent-foreground: #214E34;
  --destructive: #B5453C;
  --border: #EFD0CA40;
  --input: #EFD0CA55;
  --ring: #EFD0CA80;
  --chart-1: #EFD0CA;
  --chart-2: #C1BCAC;
  --chart-3: #979B8D;
  --chart-4: #5C7457;
  --chart-5: #214E34;
  --sidebar: #214E34;
  --sidebar-foreground: #EFD0CA;
  --sidebar-primary: #EFD0CA;
  --sidebar-primary-foreground: #214E34;
  --sidebar-accent: #5C7457;
  --sidebar-accent-foreground: #EFD0CA;
  --sidebar-border: #EFD0CA40;
  --sidebar-ring: #EFD0CA80;
}

.dark {
  --background: #5C7457;
  --foreground: #214E34;
  --h1: #FFFFFF;
  --h2: #cecece;
  --card: #424242;
  --card-foreground: #EFD0CA;
  --popover: #214E34;
  --popover-foreground: #EFD0CA;
  --primary: #EFD0CA;
  --primary-foreground: #2c784b;
  --secondary: #979B8D;
  --secondary-foreground: #214E34;
  --muted: #5C7457;
  --muted-foreground: #EFD0CA;
  --accent: #979B8D;
  --accent-foreground: #214E34;
  --destructive: #D9655C;
  --border: #EFD0CA33;
  --input: #EFD0CA4D;
  --ring: #EFD0CA80;
  --chart-1: #EFD0CA;
  --chart-2: #C1BCAC;
  --chart-3: #979B8D;
  --chart-4: #5C7457;
  --chart-5: #214E34;
  --sidebar: #214E34;
  --sidebar-foreground: #EFD0CA;
  --sidebar-primary: #EFD0CA;
  --sidebar-primary-foreground: #214E34;
  --sidebar-accent: #5C7457;
  --sidebar-accent-foreground: #EFD0CA;
  --sidebar-border: #EFD0CA33;
  --sidebar-ring: #EFD0CA80;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-h1;
  }
}
